@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  padding: 30px 0;
  background: white !important;
  box-shadow: 0px 3px 10px 0px lightgray;
  border-radius: 6px;
  margin: 30px;
}

h3 {
  text-align: center;
  margin: 5px auto;
  font-family: 'Roboto', sans-serif;
}

