body {
  font-size: 30px;
}

@media (min-width: 600px) and (orientation: landscape) and (prefers) {
  body {
    font-size: 20px;
  }
}

@media print {
  body {
    font-size: 10px;
  }
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}


.task-1.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.task-2.container {
  display: grid;
  height: 50vh;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 12px;
  align-items: baseline;
  justify-items: left;
  justify-content: center;
}

.item-1 {
  /* grid-column: 2 / 5; */
}

.item-2 {
  /* grid-column: 5 / 12; */
}