@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.bg {
  background: url('/blurry-loading/sample.jpeg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);;
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: white;
}