@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.circle-container {
  position: fixed;
  /* top: -100px;
  left: -100px; */

}

.circle {
  background-color: orange;
  height: 200px;
  width: 200px;
  /* border-radius: 50%; */
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  /* transform: rotate(-0deg); */
}

button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  border: none;
  color: white;
  height: 100px;
  font-size: 26px;
}

button#open {
  left: 70%;
  background-color: blue;
}

button#close {
  top: 70%;
  transform: rotate(90deg);
  transform-origin: top left;
  background-color: green;
}

.content img {
  max-width: 100%;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}





