@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, red, blue);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.search {
  position: relative;
  height: 50px;
}

.btn {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transform: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(150px);
}
