.container {
  display: flex;
  /* along the row direction.. align content is perpendicular axis */
  width: 90vw;
  max-width: 800px;
  height: calc(100vh - 16px);
  /* align-content: center; === this is for content .. not items */
  align-items: center;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 16px;
  transition: height 700ms ease-out, width 700ms ease-out;
  flex: 0.5;

  &.active {
    flex: 5;
    height: calc(100vh - 16px);
    transition: height 700ms ease-out, width 700ms ease-out;
    justify-self: right;
  }
}